

.titulo{
    color: white;
    font-size: 70px;
    text-align: right;
}



.imagen{
    margin-right: 300px;
    width:350px;

}

.boton{
    border-radius: 30px;
    margin-right: 20px;
    font-size: 50px;
}

.boton2{
    color : black;
}


@media (max-width: 768px) {
    .titulo {
        font-size: 25px; /* Disminuido el tamaño del título */
        margin-right: 10px;
    }

    .imagen {
        width:200px ;
        margin-right: 80px; /* Cambiado a porcentaje */
    }

    .boton {
        border-radius: 30px;
        margin-right: 1px; /* Cambiado a porcentaje */
        font-size: 20px; /* Disminuido el tamaño del texto */
    }
}


@media (min-width: 769px) and (max-width: 992px){

    .titulo {
        font-size: 50px; /* Disminuido el tamaño del título */
    }

    .imagen {
        margin-right: 10%; /* Cambiado a porcentaje */
    }

    .boton {
        margin-right: 5%; /* Cambiado a porcentaje */
        font-size: 16px; /* Disminuido el tamaño del texto */
    }
}