  /* Estilos específicos para pantallas más pequeñas, como teléfonos móviles */

body {
  background-image: url('../public/casino.jpg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  body {
    background-image: url('../public/casino.jpg');
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  body {
    background-image: url('../public/casino.jpg');
  }
}


@media (min-width: 993px) {
  body {
    background-image: url('../public/casino.jpg');
  }
}

